/* Custom scrollbar for the container */
.custom-scrollbar {
    overflow: auto;
    height: 300px; /* Adjust as per your requirement */
  }
  
  /* Track (background of the scrollbar) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height for horizontal scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray color for the track */
    border-radius: 10px;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Darker color for the handle */
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovered */
  }
  
  .MuiAutocomplete-root.MuiAutocomplete-fullWidth.MuiAutocomplete-hasPopupIcon.css-1etx6i0-MuiAutocomplete-root {
    display: flex!important;
    align-items: center !important;
    justify-content: center !important;
}